*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin
target
tmp
.classpath
.settings
.project
wtpmodules

#npm
src/main/webapp/npm-debug.log


# the client/frontend code (it's separate git repo)
src/main/webapp/client/

